.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 500px;
  border: 1px solid white;
}

.post-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  color: white;
}

.post-desc-box {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
  color: white;
}

.post-desc {
  width: 400px;
  height: 50px;
}

.post-mid {
  color: white;
}

.post-tail {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  height: 30px;
  color: white;
}

.post-button {
  height: 25px;
  width: 25px;
  border: 1px solid white;
  background-color: #212121;
  color: white;
}

.post-delete-button {
  border: 1px solid white;
  background-color: #212121;
  color: white;
}