.profile {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100vh;
}

.profile-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid white;
  color: white;
}

.profile-pic {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: aqua;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-top: 30px;
}

.profile-button {
  width: inherit;
  height: 40px;
  border: 1px solid white;
  background-color: #212121;
  color: white;
  margin: 10px
}

.profile-info-box {
  border: 1px solid white;
  color: white;
  margin: 10px;
}