.songs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.song {
  display: flex;
  flex-direction: column;
  width: 100px;
  border: 1px solid white;
  background-color: #212121;
  color: white;
}

.song-title {
  color: white
}